.dock {
    position: fixed;
    right: 0;
    bottom: 150px;

    .dock-inner {
        background: $white;
        padding: 1.25rem;
        border-radius: 4px 0 0 4px;
        border: 1px solid $gray-400;
        border-right: none;
        box-shadow: -3px 3px 3px rgba(0,0,0,0.10);
    }

    .transition a {
        display: inline-block;
        text-decoration: none;
        background: $previewScene-background;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        overflow: hidden;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px $previewScene;
        transition: .4s;

        &:active {
            transform: translateY(2px);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
            border-bottom: none;
        }
    }
}