.dock {
    position: fixed;
    right: 0;
    bottom: 80px;

    @include media-breakpoint-down('lg') {
        bottom: 130px;
    }

    @include media-breakpoint-down('sm') {
        bottom: 40px;
    }

    .dock-inner {
        background: $white;
        padding: 1.25rem;
        border-radius: 4px 0 0 4px;
        border: 1px solid $gray-400;
        border-right: none;
        box-shadow: -3px 3px 3px rgba(0,0,0,0.10);

        > div + div {
            margin-top: 0.75rem;
        }
    }

    .transition,
    .refresh {
        a {
            @include button-circle-core;
        }
    }

    .transition a {
        @include button-circle(
            $mainColor: $previewScene-background,
            $secondaryColor: $previewScene,
            $textColor: $previewScene
        );
    }

    .refresh a {
        @include button-circle(
            $mainColor: $primary,
            $secondaryColor: $secondary,
            $textColor: $secondary
        );
    }

    @include media-breakpoint-down('sm') {
        .transition a,
        .refresh a {
            @include button-circle-size(40px);

            svg {
                width: 10px;
            }
        }
    }
}