.output-scene {
    .img-wrapper {
        border: 1px solid $gray-400;
        border-left: 4px solid $white;
        background: $black;

        .img-holder {
            max-width: 325px;
            position: relative;
            margin: 0 auto;

            &:after {
                content: '';
                @include pbh-16-9;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.output-holder {
    .scene-title-wrapper {
        margin-bottom: 1rem;
    }

    .scene-title {
        text-align: center;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $white;
        padding: 0.25rem 0.5rem;
        border-radius: 0 0 4px 4px;
    }

    .main {
        &.output-scene {
            .img-wrapper {
                border-left-color: $mainScene;
            }
        }

        .scene-title {
            background-color: $mainScene-background;
        }
    }

    .preview {
        &.output-scene {
            .img-wrapper {
                border-left-color: $previewScene;
            }
        }

        .scene-title {
            background-color: $previewScene-background;
        }
    }
}

@include media-breakpoint-down(sm) {
    .output-scene {
        margin-bottom: 1rem;

        &.hidden {
            display: none;
        }

        .img-wrapper {
            .img-holder {
                max-width: 200px;
            }
        }
    }
    .output-holder {
        .scene-title-wrapper {
            cursor: pointer;
            margin-bottom: 0.5rem;
        }
    }
}