.output-scene {
    margin-bottom: 1rem;

    .img-wrapper {
        border: 1px solid $gray-400;
        border-left: 4px solid $white;
        background: $black;

        .img-holder {
            max-width: 325px;
            position: relative;
            margin: 0 auto;

            &:after {
                content: '';
                @include pbh-16-9;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .scene-title {
        text-align: center;

        span {
            background-color: $white;
            display: block;
            padding: 0.25rem 0.5rem;
            border-radius: 0 0 4px 4px;
        }
    }
}

.main .output-scene {
    .img-wrapper {
        border-left-color: $mainScene;
    }

    .scene-title span {
        background-color: $mainScene-background;
    }
}

.preview .output-scene {
    .img-wrapper {
        border-left-color: $previewScene;
    }

    .scene-title span {
        background-color: $previewScene-background;
    }
}